.bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 150;
  height: 2px;
  transform-origin: 0% 50%;
  background: linear-gradient(90deg, var(--vb-primary), var(--vb-team-a));
  pointer-events: none;
}
